/* Fonts */
/* 'Ubuntu' */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* Custom colors */
:root{
    /* Brand color */
    --red-color: #e60023;
    --blck-color: #333;
    --gray-color: #ddd;

}

body{
    margin: 0px;
}
