/* Fonts */
/* 'Ubuntu' */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
/* 'Maven Pro' */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
/* 'Inter' */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Custom colors */
:root{
    /* Brand color */
    --red-color: #e60023;
    --blck-color: #000;
    --gray-color: #efefef;
    --gray-color-icon: #767676;
    --gray-color-icon-perfil: #efefef;
    --white-color: #fff;

}


body{
    margin: 0px;
    font-family: 'Ubuntu';
    
}

/* logo */
.logo-img{
    width: 1.8em;
}
*{
    box-sizing: 0px;
}

/* Navegation Bar */
.navegation-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gray-color);
    position: sticky;
    top: 0;
    z-index: 1;
    height:80px;
}



.navegation-bar .items-nav{
     margin: 0px;
}

.navegation-bar .ul-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-inline-start: 0px;
}

.item-nav .link-nav{
    text-decoration: none;
    color: var(--blck-color);
}

.item-nav .link-nav.border{
    background-color: #000;
    color: var(--white-color);
    padding: 0.8em;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 22px;
}


/* Search Input */

.search-box-border{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--gray-color);
    border-radius: 24px;
    padding: 0xp 1em 0px 1em;
    background-color: var(--gray-color);
}





.item-nav .link-nav .input-nav{
    border: none;
    padding: 1em;
    width: 72vw;
    border: 2px solid transparent;
    border-radius: 24px;
    background-color: var(--gray-color);
}

.item-nav .link-nav .input-nav::placeholder{
    
    font-family: 'Maven Pro';
    font-weight: bold;
    font-size: 1rem;
}   

.icon-img{
    width: 1em;
}


/* nav icons */

#icon-size-color{
    font-size: 1.5em;
    color: var(--gray-color-icon);
}

.fa-solid.fa-magnifying-glass{
    font-size: 1em;
    font-weight: bold;
    color: var(--gray-color-icon);
    padding-left: 16px;
    background-color: transparent;
}

.fa-solid.fa-plus:hover{
    background-color: var(--gray-color);
    border: 2px solid var(--gray-color);
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    padding: 0.5em;
}

.fa-solid.fa-comment-dots:hover{
    background-color: var(--gray-color);
    border: 2px solid var(--gray-color);
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    padding: 0.5em;
}
.fa-solid.fa-bell:hover{
    background-color: var(--gray-color);
    border: 2px solid var(--gray-color);
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    padding: 0.5em;
}

.chevron-down-outline{
    padding: 0.3em;
}

.item-nav .link-nav.letter{
    font-size: 0.65em;
    padding: 0.7em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--gray-color-icon-perfil);
}

.item-nav .link-nav.letter:hover{
    font-size: 1em;
    padding: 1em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--gray-color-icon-perfil);
}

/* Finish nav-bar */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.grid-item{
    width: 280px;
    margin-bottom: 1em;
    border-radius: 15px;
    background-color: var(--gray-color-icon);
    object-fit: cover;
}

.grid-item:hover{
    filter: opacity(0.9);

}


